# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
labss/
env/
venv/

# VS Code
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env