body {
    font-family: Arial;
    background: #f0f8ff;
    text-align: center;
}

input {
    padding: 10px;
    width: 250px;
}

button {
    padding: 10px 20px;
    background: green;
    color: white;
    border: none;
}









































/* body {
    font-family: Arial;
    background: #f2f6ff;
}

.container {
    width: 60%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
}

button {
    background: #4CAF50;
    color: white;
    padding: 8px;
    border: none;
    cursor: pointer;
}

.response {
    background: #e8f0fe;
    padding: 10px;
    border-radius: 5px;
} */